@model HelpingHands_V2.Models.PrefferedSuburb

@{
    ViewData["Title"] = "Create";
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">Nurse Suburb Form</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="NurseId" placeholder="@ViewBag.NurseId" value="@ViewBag.NurseId" hidden />
            <div class="form-group">
                <label asp-for="SuburbId" class="control-label"></label>
                <select asp-for="SuburbId" class="form-control" name="Suburb" asp-items="ViewBag.SuburbId">
                    <option disabled selected>--- SELECT ---</option>
                </select>
                <input asp-for="Suburb" hidden value="Suburb.value"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="IndexForNurse" class="btn btn-secondary" asp-route-id="@User.FindFirst("UserId")!.Value">Cancel</a>
            </div>
        </form>
    </div>
</div>