################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelpingHands_V2/.vs/HelpingHands_V2/FileContentIndex/972f9018-c9ea-4d10-b80e-81096596bbd2.vsidx
/HelpingHands_V2/.vs/HelpingHands_V2/FileContentIndex/63ce1501-b9e4-45bb-9437-7ff938ca9f1f.vsidx
