@model HelpingHands_V2.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center p-4">Change Password</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}

<div class="px-5"><hr /></div>
<div class="container-fluid p-md-4 p-2 my-md-3">
    <form asp-action="ChangePassword">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="UserId" type="hidden" />
        <div class="row row-cols-1 d-flex justify-content-center align-items-center">
            <div class="col-md-5 g-5">
                <div class="input-group-sm">
                    <label asp-for="CurrentPassword" class="form-label"></label>
                    <input asp-for="CurrentPassword" class="form-control" type="password" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="input-group-sm">
                    <label asp-for="NewPassword" class="form-label"></label>
                    <input asp-for="NewPassword" class="form-control" type="password" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="input-group-sm">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" type="password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            
        </div>
        <div class="row p-md-5 p-3">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="btn-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    @if (User.IsInRole("A") || User.IsInRole("O"))
                    {
                        <a asp-action="Profile" asp-route-id="@Model?.UserId" class="btn btn-secondary">Cancel</a>
                    }
                    else if (User.IsInRole("N"))
                    {

                        <a asp-action="Profile" asp-controller="Nurse" asp-route-id="@Model?.UserId" class="btn btn-secondary">Cancel</a>
                    }
                    else if (User.IsInRole("P"))
                    {

                        <a asp-action="Profile" asp-controller="Patient" asp-route-id="@Model?.UserId" class="btn btn-secondary">Cancel</a>
                    }
                </div>
            </div>
        </div>
    </form>
</div>