@model HelpingHands_V2.Models.Suburb

@{
    ViewData["Title"] = "Create";
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">Suburb Form</h2>
@if(Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
<section class="px-5 py-4">
    <hr />
</section>
<div class="container-fluid p-lg-5 p-sm-2 my-2">
    <div class="row row-cols-auto d-flex align-items-center justify-content-center g-5">
        <div class="col-md-3 mx-lg-5">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-12">
                    <div class="input-group-sm">
                        <label asp-for="SuburbName" class="form-label"></label>
                        <input asp-for="SuburbName" class="form-control" />
                        <span asp-validation-for="SuburbName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group-sm">
                        <label asp-for="PostalCode" class="form-label"></label>
                        <input asp-for="PostalCode" type="text" class="form-control" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group-sm">
                        <label asp-for="CityId" class="form-label"></label>
                        <select asp-for="CityId" class="form-select form-select-sm" asp-items="ViewBag.CityId">
                            <option disabled selected>--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="CityId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row justify-content-center g-2 py-4">
                        <div >
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <img src="/Media/suburb.jpg" class="img-fluid rounded-2" alt="Helping hands">
        </div>
    </div>
</div>