@model HelpingHands_V2.Models.Condition

@{
    ViewData["Title"] = "Edit";
    var Condition = ViewBag.Condition;
}

<h2 class="display-4 text-center">Edit @Condition.ConditionName</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ConditionId" value="@Condition.ConditionId" type="hidden"/>
            <div class="form-group">
                <label asp-for="ConditionName" class="control-label"></label>
                <input asp-for="ConditionName" class="form-control" value="@Condition.ConditionName" />
                <span asp-validation-for="ConditionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConditionDescription" class="control-label"></label>
                <textarea name="ConditionDescription" class="form-control" rows="3" autofocus>
                    @Condition.ConditionDescription
                </textarea>
                <span asp-validation-for="ConditionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>