@model HelpingHands_V2.Models.CareContract

@{
    ViewData["Title"] = "Create";
}

<h2 class="display-4 text-center">Care Contract Form</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (User.IsInRole("P"))
            {
                <input asp-for="PatientId" value="@User.FindFirst("UserId")!.Value" class="form-control" hidden readonly />
                <input asp-for="ContractStatus" value="N" class="form-control" hidden readonly />
                <div class="form-group">
                    <label asp-for="ContractDate" class="control-label"></label>
                    <input asp-for="ContractDate" type="date" class="form-control" value="ViewBag.CurrentDate" />
                    <span asp-validation-for="ContractDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WoundId" class="control-label"></label>
                    <select asp-for="WoundId" class="form-control" asp-items="ViewBag.WoundId">
                        <option disabled selected>--- SELECT ---</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="AddressLineOne" class="control-label"></label>
                    <input asp-for="AddressLineOne" class="form-control" />
                    <span asp-validation-for="AddressLineOne" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddressLineTwo" class="control-label"></label>
                    <input asp-for="AddressLineTwo" class="form-control" />
                    <span asp-validation-for="AddressLineTwo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SuburbId" class="control-label"></label>
                    <select asp-for="SuburbId" class="form-control" asp-items="ViewBag.SuburbId">
                        <option disabled selected>--- SELECT ---</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="ContractComment" class="control-label"></label>
                    <textarea asp-for="ContractComment" class="form-control" rows="3" autofocus></textarea>
                    <span asp-validation-for="ContractComment" class="text-danger"></span>
                </div>
            }
            @* @if (User.IsInRole("N"))
            {
                <div class="form-group">
                    <label asp-for="NurseId" class="control-label"></label>
                    <select asp-for="NurseId" class="form-control" asp-items="ViewBag.NurseId">
                        <option disabled selected>--- SELECT ---</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            } *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>            
        </form>
    </div>
</div>