@model HelpingHands_V2.Models.OperationHour

@{
    ViewData["Title"] = "Edit";
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">Edit @Model?.OperationDay Hours</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="OperationHoursId" type="hidden" />
            <div class="col-12">
                <div class="input-group-sm">
                    <label asp-for="OperationDay" class="form-label"></label>
                    <input asp-for="OperationDay" type="text" class="form-control" />
                    <span asp-validation-for="OperationDay" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12">
                <div class="input-group-sm">
                    <label asp-for="OpenTime" class="form-label"></label>
                    <input asp-for="OpenTime" type="time" class="form-control" />
                    <span asp-validation-for="OpenTime" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12">
                <div class="input-group-sm">
                    <label asp-for="CloseTime" class="form-label"></label>
                    <input asp-for="CloseTime" type="time" class="form-control" />
                    <span asp-validation-for="CloseTime" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12">
                <div class="btn-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Details" asp-route-id="@Model?.OperationHoursId" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>