@model HelpingHands_V2.Models.Patient

@{
    ViewData["Title"] = "Create";
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">Patient Form</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
<div class="px-5"><hr /></div>

<div class="container-fluid p-md-4 p-1">
    <form asp-action="Create">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="PatientId" type="hidden" value="@ViewBag.PatientId" />
        <div class="row row-cols-1 d-flex justify-content-center align-items-center">
            <div class="col-md-4">
                <div class="input-group-sm">
                    <label asp-for="AddressLineOne" class="form-label"></label>
                    <input asp-for="AddressLineOne" class="form-control" />
                    <span asp-validation-for="AddressLineOne" class="text-danger"></span>
                </div>
                <div class="input-group-sm">
                    <label asp-for="AddressLineTwo" class="form-label"></label>
                    <input asp-for="AddressLineTwo" class="form-control" />
                    <span asp-validation-for="AddressLineTwo" class="text-danger"></span>
                </div>
                <div class="input-group-sm">
                    <label asp-for="SuburbId" class="form-label"></label>
                    <select asp-for="SuburbId" class="form-control" asp-items="ViewBag.SuburbId"></select>
                </div>
                <div class="input-group-sm">
                    <label asp-for="Icename" class="form-label"></label>
                    <input asp-for="Icename" class="form-control" />
                    <span asp-validation-for="Icename" class="text-danger"></span>
                </div>
                <div class="input-group-sm">
                    <label asp-for="Icenumber" class="form-label"></label>
                    <input asp-for="Icenumber" class="form-control" />
                    <span asp-validation-for="Icenumber" class="text-danger"></span>
                </div>
                <div class="input-group-sm">
                    <label asp-for="AdditionalInfo" class="form-label"></label>
                    <textarea asp-for="AdditionalInfo" class="form-control" rows="3" autofocus></textarea>
                    <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row p-md-3 p-1">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="btn-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Profile" asp-route-id="@ViewBag.PatientId" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>