@model HelpingHands_V2.Models.Patient

@{
    ViewData["Title"] = "Create";
    var Message = ViewBag.Message;
}
<section class="container-fluid" id="Create">
    <h2 class="display-4 text-center p-2">Patient Form</h2>
    @if (Message != null)
    {
        <p class="text-decoration-underline text-danger">@Message</p>
    }
    <div class="px-5"><hr /></div>
    <div class="container-fluid">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="PatientId" type="hidden" />
            <input asp-for="EndUser!.UserId" name="UserId" type="hidden" />
            <input asp-for="EndUser!.Password" name="Password" type="hidden" />
            <input asp-for="EndUser!.ConfirmPassword" name="ConfirmPassword" type="hidden" />
            <input asp-for="EndUser!.ProfilePicture" name="ProfilePicture" type="hidden" />
            <input asp-for="EndUser!.ProfilePictureName" name="ProfilePictureName" type="hidden" />
            <input asp-for="EndUser!.UserType" name="UserType" type="hidden" />
            <input asp-for="EndUser!.ApplicationType" name="ApplicationType" type="hidden" />
            <div class="container px-5 ">
                <div class="row row-cols-auto px-5 g-3 py-4 justify-content-start">
                    <div class="col-12">
                        <h4 class="display-6">Personal Information</h4>
                    </div>
                    <div class="col-5">
                        <div class="input-group-sm">
                            <label asp-for="EndUser!.Username" class="form-label"></label>
                            <input asp-for="EndUser!.Username" name="Username" class="form-control" type="text" readonly />
                        </div>
                    </div><div class="col-5">
                        <div class="input-group-sm">
                            <label asp-for="EndUser!.Firstname" class="form-label"></label>
                            <input asp-for="EndUser!.Firstname" name="Firstname" class="form-control" type="text" readonly />
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="input-group-sm">
                            <label asp-for="EndUser!.Lastname" class="form-label"></label>
                            <input asp-for="EndUser!.Lastname" name="Lastname" class="form-control" type="text" readonly />
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="input-group-sm">
                            <label asp-for="EndUser!.Email" class="form-label"></label>
                            <input asp-for="EndUser!.Email" name="Email" class="form-control" type="email" readonly />
                        </div>
                    </div>
                    <div class="col-3">
                        <img src="@Model.EndUser!.ProfilePicture" class="img-fluid" alt="@Model?.EndUser!.ProfilePictureName" />
                    </div>
                    <div class="col-6">
                        <div class="input-group-sm">
                            <label asp-for="EndUser!.Idnumber" class="form-label"></label>
                            <input asp-for="EndUser!.Idnumber" name="Idnumber" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="input-group-sm">
                            <label asp-for="EndUser!.ContactNumber" class="form-label"></label>
                            <input asp-for="EndUser!.ContactNumber" name="ContactNumber" class="form-control" readonly />
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="input-group-sm">
                            <label asp-for="EndUser!.DateOfBirth" class="form-label"></label>
                            <input asp-for="EndUser!.DateOfBirth" name="DateOfBirth" class="form-control" type="text" readonly />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group-sm">
                            <label asp-for="EndUser!.Gender" class="form-label"></label>
                            <input asp-for="EndUser!.Gender" name="Gender" class="form-control" readonly />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row px-md-5 px-2 g-2 justify-content-start row-cols-auto py-md-4">
                    <div class="col-12">
                        <h1 class="display-6">Patient Information</h1>
                    </div>
                    <div class="col-6">
                        <div class="input-group-sm">
                            <label asp-for="AddressLineOne" class="form-label"></label>
                            <input asp-for="AddressLineOne" class="form-control" />
                            <span asp-validation-for="AddressLineOne" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group-sm">
                            <label asp-for="AddressLineTwo" class="form-label"></label>
                            <input asp-for="AddressLineTwo" class="form-control" />
                            <span asp-validation-for="AddressLineTwo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group-sm">
                            <label asp-for="SuburbId" class="form-label"></label>
                            <select asp-for="SuburbId" class="form-control" asp-items="ViewBag.SuburbId">
                                <option disabled selected>--- SELECT ---</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group-sm">
                            <label asp-for="Icename" class="form-label"></label>
                            <input asp-for="Icename" class="form-control" />
                            <span asp-validation-for="Icename" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group-sm">
                            <label asp-for="Icenumber" class="form-label"></label>
                            <input asp-for="Icenumber" class="form-control" />
                            <span asp-validation-for="Icenumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group-sm">
                            <label asp-for="AdditionalInfo" class="form-label"></label>
                            <textarea asp-for="AdditionalInfo" class="form-control" rows="3" autofocus></textarea>
                            <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center g-2 py-4">
                <div class="btn-group col-2">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    @* <a asp-action="Profile" asp-route-id="@ViewBag.PatientId" class="btn btn-secondary">Cancel</a> *@
                </div>
            </div>
        </form>
    </div>
</section>