@{
    ViewData["Title"] = "Patient Dashboard";
    var Message = ViewBag.Message;
}

<section class="container-fluid" id="Dashboard">
    <h2 class="display-5 text-center p-2">Dashboard</h2>
    @if (Message != null)
    {
        <p class="text-decoration-underline text-danger">@Message</p>
    }
    <div class="px-5"><hr /></div>
    <div class="container-fluid">
        <div class="row" style="overflow-x:scroll">

            <div class="card bg-dark text-white text-center" style="width: 15rem;height:10rem;">
                <a asp-controller="Contract" asp-action="Create">
                    <img src="/Media/plus.png" alt="firstExample" class="card-img" style="background-color: darkgray; background-blend-mode: multiply; height: 100%; width: 100%;object-fit: contain;" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">Create Contract</h5>
                    </div>
                </a>
            </div>
            <div class="card bg-dark text-white text-center" style="width: 15rem;height:10rem;">
                <img src="/Media/contract.png" alt="firstExample" class="card-img" style="background-color: darkgray; background-blend-mode: multiply; height: 100%; width: 100%;object-fit: contain;" />
                <div class="card-img-overlay">
                    <h5 class="card-title" style="color:black">Past Contracts</h5>
                </div>
            </div>
            <div class="card bg-dark text-white text-center" style="width: 15rem;height:10rem;">
                <img src="/Media/plus.png" alt="firstExample" class="card-img" style="background-color: darkgray; background-blend-mode: multiply; height: 100%; width: 100%;object-fit: contain;" />
                <div class="card-img-overlay">
                    <h5 class="card-title">Add New Condition</h5>
                </div>
            </div>
            <div class="card bg-dark text-white text-center" style="width: 15rem;height:10rem;">
                <a asp-controller="PatientCondition" asp-action="IndexForPatient" asp-route-id=@User.FindFirst("UserId")!.Value>
                    <img src="/Media/condition.png" alt="firstExample" class="card-img" style="background-color: darkgray; background-blend-mode: multiply; height: 100%; width: 100%; object-fit: cover;" />
                    <div class="card-img-overlay">
                        <h5 class="card-title" style="color:black">View Chronic Conditions</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>