@model HelpingHands_V2.Models.Nurse

@{
    ViewData["Title"] = "Create";
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center p-2">Nurse Form</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
<div class="px-5"><hr /></div>

<div class="container-fluid">
    <form enctype="multipart/form-data" asp-action="Create">
        <input asp-for="NurseId" type="hidden" />
        <input asp-for="EndUser!.Password" type="hidden"/>
        <input asp-for="EndUser!.ConfirmPassword" type="hidden"/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container px-5 ">
            <div class="row row-cols-auto px-5 g-3 py-4 justify-content-start">
                <div class="col-12">
                    <h4 class="display-6">Personal Information</h4>
                </div>
                <div class="col-5">
                    <div class="input-group-sm">
                        <label asp-for="EndUser!.Username" class="form-label"></label>
                        <input asp-for="EndUser!.Username" class="form-control" type="text" readonly />
                    </div>
                </div><div class="col-5">
                    <div class="input-group-sm">
                        <label asp-for="EndUser!.Firstname" class="form-label"></label>
                        <input asp-for="EndUser!.Firstname" class="form-control" type="text" readonly/>
                    </div>
                </div>
                <div class="col-5">
                    <div class="input-group-sm">
                        <label asp-for="EndUser!.Lastname" class="form-label"></label>
                        <input asp-for="EndUser!.Lastname" class="form-control" type="text" readonly />
                    </div>
                </div>
                <div class="col-7">
                    <div class="input-group-sm">
                        <label asp-for="EndUser!.Email" class="form-label"></label>
                        <input asp-for="EndUser!.Email" class="form-control" type="email" readonly />
                    </div>
                </div>
                <div class="col-4">
                        <div>
                        <img src="@Model.EndUser!.ProfilePicture" class="img-thumbnail img-fluid" alt="@Model?.EndUser!.ProfilePictureName" />
                        </div>
                </div>
                <div class="col-6">
                    <div class="input-group-sm">
                        <label asp-for="EndUser!.Idnumber" class="form-label"></label>
                        <input asp-for="EndUser!.Idnumber" class="form-control" readonly />
                    </div>
                </div>
                <div class="col-5">
                    <div class="input-group-sm">
                        <label asp-for="EndUser!.ContactNumber" class="form-label"></label>
                        <input asp-for="EndUser!.ContactNumber" class="form-control" readonly />
                    </div>
                </div>

                <div class="col-3">
                    <div class="input-group-sm">
                        <label asp-for="EndUser!.DateOfBirth" class="form-label"></label>
                        <input asp-for="EndUser!.DateOfBirth" class="form-control" type="date" readonly />
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group-sm">
                        <label asp-for="EndUser!.Gender" class="form-label"></label>
                        <input asp-for="EndUser!.Gender" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row px-md-5 px-2 g-2 justify-content-start row-cols-auto py-md-4">
                <div class="col-12">
                    <h1 class="display-6">Nurse Information</h1>
                </div>
                <div class="input-group-sm">
                    <label asp-for="Grade" class="form-label"></label>
                    <input asp-for="Grade" class="form-control" />
                    <span asp-validation-for="Grade" class="text-danger"></span>
                </div>
            </div>

            <div class="row justify-content-center g-2 py-4">
                <div class="btn-group col-2">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>