@using System.Linq
@{
    ViewData["Title"] = "Nurse Dashboard";
    var Message = ViewBag.Message;
}

<section class="container-fluid" id="Dashboard">
    <h2 class="display-4 text-center p-2">Hello @User.Identity?.Name</h2>
    @if (Message != null)
    {
        <p class="text-decoration-underline text-danger">@Message</p>
    }
    <div class="px-5"><hr /></div>
    <div class="container-fluid">
    </div>
</section>