@model HelpingHands_V2.Models.City

@{
    ViewData["Title"] = "Create";
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">City Form</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
<hr />
<div class="container-fluid p-lg-5 p-sm-2 my-5">
    <div class="row row-cols-auto d-flex align-items-center justify-content-center g-5">
        <div class="col-md-3 mx-lg-5">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-12">
                    <div class="input-group-sm">
                        <label asp-for="CityName" class="form-label"></label>
                        <input asp-for="CityName" class="form-control" />
                        <span asp-validation-for="CityName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group-sm">
                        <label asp-for="CityAbbreviation" class="form-label"></label>
                        <input asp-for="CityAbbreviation" class="form-control" />
                        <span asp-validation-for="CityAbbreviation" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row justify-content-center g-2 py-4">
                    <div class="btn-group col-auto">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <img src="/Media/city.jpg" class="img-fluid rounded-2" alt="Helping hands">
        </div>
    </div>
</div>