
@{
    ViewData["Title"] = "Details";
}

<h2 class="display-4 text-center">@ViewBag.City.CityName Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            City Name:
        </dt>
        <dd class="col-sm-10">
            @ViewBag.City.CityName
        </dd>
        <dt class="col-sm-2">
            City Abbreviation:
        </dt>
        <dd class="col-sm-10">
            @ViewBag.City.CityAbbreviation
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@ViewBag.City.CityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
