@{
    ViewData["Title"] = "Cities";
}

<h2 class="display-4 text-center">Cities</h2>
<hr />
<a asp-action="Create" class="btn btn-primary">Add New</a>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">City Name</th>
            <th scope="col">City Abbreviation</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var city in ViewBag.Cities)
        {
            <tr scope="row">
                <td>@city.CityName</td>
                <td>@city.CityAbbreviation</td>
                <td>
                    <a asp-action="Details" asp-route-id="@city.CityId" class="btn btn-info">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>