@{
    ViewData["Title"] = "Admin Dashboard";
    var Message = ViewBag.Message;
}
<h2 class="display-1 text-center">Hello @User.Identity?.Name</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link" asp-controller="EndUser" asp-action="Index">Employees</a>
                    
                    <a class="nav-link" asp-controller="Nurse" asp-action="Index">Nurses</a>
                    <a class="nav-link" asp-controller="Operation" asp-action="Index">Operational Hours</a>

                    <a class="nav-link" asp-controller="Visit" asp-action="Index">Visits</a>
                    <a class="nav-link" asp-controller="Patient" asp-action="Index">Patients</a>
                    <a asp-controller="PatientCondition" asp-action="Index" class="nav-link">Patient Conditions</a>
                    <a class="nav-link" asp-controller="Condition" asp-action="Index">Conditions</a>

                    <a asp-controller="Wound" asp-action="Index" class="nav-link">Wounds</a>
                    <a asp-controller="PrefferedSuburb" asp-action="Index" class="nav-link">Nurse Preffered Suburbs</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-3 my-1" href="#managers">Managers</a>
                        <a class="nav-link ms-3 my-1" href="#nurses">Nurses</a>
                    </nav>
                    <a class="nav-link" href="#locations">Location</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-3 my-1" href="#cities">Cities</a>
                        <a class="nav-link ms-3 my-1" href="#suburbs">Suburbs</a>
                    </nav>
                </nav>
            </nav>

        </div>
        
    </div>
</div>