
@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1 class="display-1 text-center">Hello @User.Identity?.Name</h1>

<hr />
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 g-4">

        <div class="col" >
            <div class="d-flex flex-row align-items-center justify-content-center" style="height:100%">
                <div class="card bg-dark text-white text-center">
                    <img src="/Media/businessInfo.jpg" alt="firstExample" class="card-img" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">Helping Hands Business Info</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-row align-items-center justify-content-center" style="height:100%">
                <div class="card bg-dark text-white text-center">
                    <img src="/Media/management.webp" alt="" class="card-img" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">View Managers</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-row align-items-center justify-content-center" style="height:100%">
                <div class="card bg-dark text-white text-center">
                    <img src="/Media/background.webp" alt="" class="card-img" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">View Nurses</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-row align-items-center justify-content-center" style="height:100%">
                <div class="card bg-dark text-white text-center">
                    <img src="/Media/city.jpg" alt="" class="card-img" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">Manage Cities</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-row align-items-center justify-content-center" style="height:100%">
                <div class="card bg-dark text-white text-center">
                    <img src="/Media/suburb.jpg" alt="" class="card-img" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">Manage Suburbs</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-row align-items-center justify-content-center" style="height:100%">
                <div class="card bg-dark text-white text-center">
                    <img src="/Media/condition.png" alt="" class="card-img" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">Manage Chronic Conditions</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
