
@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1 class="display-1 text-center">Hello @User.Identity?.Name</h1>

<hr />
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 g-4">

        <div class="col" >
            <div class="d-flex flex-row align-items-center justify-content-center" style="height:100%">
                <div class="card bg-dark text-white text-center">
                    <img src="/Media/mern.png" alt="firstExample" class="card-img" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">First Example</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-row align-items-center justify-content-center" style="height:100%">
                <div class="card bg-dark text-white text-center">
                    <img src="/Media/python.jpg" alt="" class="card-img" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">This is an example</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-row align-items-center justify-content-center" style="height:100%">
                <div class="card bg-dark text-white text-center">
                    <img src="/Media/python.jpg" alt="" class="card-img" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">This is an example</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-row align-items-center justify-content-center" style="height:100%">
                <div class="card bg-dark text-white text-center">
                    <img src="/Media/react.png" alt="" class="card-img" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">This is an example</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-row align-items-center justify-content-center" style="height:100%">
                <div class="card bg-dark text-white text-center">
                    <img src="/Media/react.png" alt="" class="card-img" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">This is an example</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-row align-items-center justify-content-center" style="height:100%">
                <div class="card bg-dark text-white text-center">
                    <img src="/Media/mern.png" alt="" class="card-img" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">This is an example</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
