:root {
    --darkred: #82393d;
    --yellow: #fccf0e;
    --orange: #df7625;
    --paleRed: #c24147;
}

html {
  font-size: 14px;
}
a {
    text-decoration:none;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

nav {
    height: 6rem;
}

nav > li:hover{
    color: red;
}

body {
    background-image: linear-gradient(to bottom right, var(--darkred), var(--orange)), url(/Media/nurseAndPatient.jpg);
    background-blend-mode: multiply;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

@media (min-width: 1024px) {
    section {
        border-radius: 2rem;
        padding: 2rem;
        margin: 2rem 0 2rem 0;
        background-color: white;
        max-width: 90%
    }
}

footer {
    /*background-image: linear-gradient(to top left, var(--paleRed), var(--orange))*/
    height:9rem;
    background-color:white;
}