:root {
    --darkred: #82393d;
    --yellow: #fccf0e;
    --orange: #df7625;
    --paleRed: #c24147;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

nav {
    /*background-image: linear-gradient(to bottom right, var(--paleRed), var(--orange))*/
}

nav > li:hover{
    color: red;
}

body {
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, var(--darkred), var(--paleRed)), url("../Media//background.webp");
    background-blend-mode: screen;
}


.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.card {
    width: 28rem;
    margin: 1.5rem;
}

footer {
    margin-top: 5rem;
    background-image: linear-gradient(to top left, var(--paleRed), var(--orange))
}