@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="container-fluid" id="About">
    <h2 class="display-4 text-center p-2">About Helping Hands</h2>

    <div class="px-5"><hr /></div>
    <div class="row mx-md-5 p-5 justify-content-evenly">
        <div class="col-3">
            <nav class="h-100 flex-column align-items-stretch pe-4 border-end" id="AboutUsScrollSpy">
                <nav class=" h-auto nav nav-pills flex-column">
                    <a class="nav-link" href="#VisionStatement">Vision Statment</a>
                    <a class="nav-link" href="#OperationsOverview">Operations Overview</a>
                    <a class="nav-link" href="#Approach">Approach</a>
                    <a class="nav-link" href="#AddedBenefits">Added Benefits</a>
                    <a class="nav-link" href="#Conclusion">Conclusion</a>
                </nav>
            </nav>
        </div>
        <article class="col-7" id="AboutArticle">
            <div data-bs-spy="scroll" data-bs-target="#AboutUsScrollSpy" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                <p class="lead">At Helping Hands, our mission is to extend healing and support to those who need it most</p>
                <div id="VisionStatement">
                    <h1 class="h5"><strong>Vision Statment</strong></h1>
                    <p>As a non-profit organization, we specialize in providing comprehensive wound care services to a particularly vulnerable demographic: the elderly, bedridden, immobile, and financially disadvantaged individuals who may face significant barriers to accessing traditional healthcare settings. These individuals, whom we proudly regard as our patients, often struggle to reach clinics due to mobility challenges or financial constraints, including reliance on state pensions or falling within lower income brackets.</p>
                </div>
                <div id="OperationsOverview">
                    <h1 class="h5"><strong>Operations Overview</strong></h1>
                    <p>At the heart of our operations lies a profound partnership with expert nurses who generously volunteer their time and expertise to deliver essential wound care services. These dedicated professionals form the backbone of our organization, embodying our commitment to compassionate care and unwavering support for those in need. Through their selfless contributions, we are able to fulfill our promise of bringing high-quality healthcare directly to the doorsteps of our patients.</p>
                </div>
                <div id="Approach">
                    <h1 class="h5"><strong>Approach</strong></h1>
                    <p>Our approach is simple yet profoundly impactful: we meet patients where they are, quite literally. Our team of expert nurses is prepared to travel to any location, whether it be a private residence, nursing home, or assisted living facility, to provide personalized wound care treatments. This commitment to accessibility ensures that no patient is left behind, regardless of their physical limitations or geographical location.</p>
                </div>
                <div id="AddedBenefits">
                    <h1 class="h5"><strong>Added Benefits</strong></h1>
                    <p>Beyond the clinical aspect of wound care, our nurses offer a comforting presence and a listening ear to each patient they serve. They understand that healing extends beyond the physical realm and encompasses emotional support and reassurance. By fostering genuine connections with our patients, our nurses create a safe and nurturing environment where individuals feel valued, respected, and empowered on their journey toward recovery.</p>
                </div>
                <div id="Conclusion">
                    <h1 class="h5"><strong>Conclusion</strong></h1>
                    <p>In essence, Helping Hands is more than just an organization—it's a beacon of hope and compassion in our community. Through the collaborative efforts of our dedicated team and the invaluable support of our volunteer nurses, we strive to make a meaningful difference in the lives of those we serve. Together, we are transforming the landscape of healthcare delivery, one patient, and one wound at a time.</p>
                </div>
            </div>
        </article>
    </div>
</section>