@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="container-fluid" id="About">
    <h2 class="display-4 text-center p-2">About Helping Hands</h2>

    <div class="px-5"><hr /></div>
    <p>Use this page to detail your site's privacy policy.</p>
</section>