@{
    ViewData["Title"] = "Home Page";
}

<section class="container-fluid" id="Home">
    <h2 class="display-3 text-center p-2">Welcome Helping Hands</h2>
    <div class="container">
        <h3 class="display-6 text-center">Primary wound care for the elderly</h3>
    </div>

</section>