@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="Welcome">
    <h1 class="display-1">Welcome to Helping Hands</h1> 
</div>
<div class="container">
    <h3 class="display-6 text-center">Primary wound care for the elderly</h3>
    <section class="row">
        
    </section>
</div>

