@{
    ViewData["Title"] = "Pending";
    var Message = ViewBag.Message;
}

<section class="container-fluid" id="Pending">
    <h2 class="display-4 text-center p-4">Pending Authorization</h2>
    @if (Message != null)
    {
        <p class="text-decoration-underline text-danger">@Message</p>
    }

    <div class="px-5">
        <hr />
    </div>
    <article class="container-fluid px-5">
        <p>
            You have been added to our waiting list. Your request is now pending manager approval. Thank you for your patience as we process your authorization.
        </p>
    </article>
</section>